.hero {
  background: linear-gradient(to right, rgba(42, 42, 114, 0.9), rgba(42, 42, 114, 0.7)), url('D:/kau/my-website/public/bkg.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  padding: 100px 50px;
  text-align: left;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-bottom: 30px; /* Add bottom margin to create spacing below the hero section */
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.highlight {
  color: #ff4d4d;
  font-weight: bold;
}

.cta-button {
  background-color: #ff4d4d;
  color: white;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 20px;
}
